---
layout: page
title: News and Events
comments: true
---

<h1>Events</h1>

<ul>
        <li> <a href="https://en.xing-events.com/ZMKEJIH">D4 Core Working Group meeting</a> - 29 Mar 2019, CIRCL/SMILE g.i.e, HSBC building, 2nd floor Luxembourg</li>
        <li> <a href="https://en.xing-events.com/DFTZOZW">AIL training / D4 workshop</a> - 22 May 2019, CIRCL/SMILE g.i.e, HSBC building, 2nd floor Luxembourg</li>
</ul>

<h1>News</h1>

<p>The archive of all the blog posted and news for the D4 project</p>

<section class="row recent-posts">
    <div class="col-md-4 col-lg-4">
        {% include sidebar.html %}
    </div>

    <div class="col-md-8 col-lg-8">
        <div class="section-title">
            <h2><span>{{ page.type }} '{{ page.title }}'</span></h2>
        </div>
        <div class="masonrygrid row listrecent">

            {% for post in site.posts %}
            {% include postbox.html %}

            {% endfor %}



        </div>
    </div>
</section>



